<mat-toolbar class="toolbar">
  <h2 style="padding: 0px; margin: 0px;">MeuGPT</h2>
  <div class="menu-direita">
    <span class="material-symbols-outlined espaco-esquerda" (click)="BaixarPesquisas()">
      download
    </span>
    <span class="material-symbols-outlined espaco-esquerda" (click)="AbrirUpload()">
      upload
    </span>
    <span class="material-symbols-outlined espaco-esquerda" (click)="AbrirAdd()">
      add
    </span>
    <span class="material-symbols-outlined espaco-esquerda" (click)="AbrirConfiguracao()">
      settings
    </span>
  </div>
</mat-toolbar>

<app-mensagens-layout #mensagens></app-mensagens-layout>

<div class="corpo">
  <div class="pesquisas">
    <div class="pesquisa" *ngFor="let pesquisa of this.pesquisa.ObterPesquisas()"
      (click)="mensagens.Abrir(pesquisa)">
      <h3 style="padding: 0px; margin: 0px;">{{pesquisa.nome}}</h3>
      <span style="font-size: 11px;">{{pesquisa.model}}</span>
    </div>
  </div>
</div>

<div class="desbloqueioGeral" [class.bloqueioGeral]="configuracao.carregando">
  <mat-spinner></mat-spinner>
</div>